<!DOCTYPE html>
<html>
    <head>
        <title>{title} - {projectName}</title>
        
        <meta charset="utf-8" />
        
        <!-- Disable scaling on mobile: -->
        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height, width=device-width" />
        
        <link rel="stylesheet" type="text/css" href="{resourceDir}style/default.css" />
        <link rel="stylesheet" type="text/css" href="{resourceDir}style/highlight.css" />
        <link rel="stylesheet" type="text/css" href="{resourceDir}style/font-awesome/css/font-awesome.css" />
    </head>
    <body>
        <div class="navbar" data-module="navbar">
            <div class="content">
                <div class="buttons">
                    <!--
                    <div class="search-container m--hidden">
                        <input class="search-query"
                               type="text"
                               data-type="query"
                               placeholder="Search..." />
                        <i class="search-icon fa fa-search"></i>
                    </div>
                    <button class="button d--hidden" data-type="searchToggler">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="button" data-type="tableOfContentsToggler">
                        <i class="fa fa-list-alt"></i>
                    </button>
                    -->
                    <button class="button" data-type="filesToggler">
                        <i class="fa fa-folder-open-o"></i>
                    </button>
                </div>
                <div class="links">
                    <a class="project-name" href="{rootDir}index.html">
                        {projectName}
                    </a>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="page">
                {content}
            </div>
        </div>
        <div id="files" data-module="files" data-type="tableOfContents">
            <div class="content" data-type="overlayContent">
                
                <button class="close-button" data-type="closeButton">
                    <i class="fa fa-close"></i>
                </button>
                
                <h2 class="overlay-heading">Documents</h2>
                
                <table class="file-list">
                    <tbody>
                        {files}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{resourceDir}js/index.js"></script>
    </body>
</html>